<div id="productsMain">
    <div class="s003">
        <form>
            <div class="inner-form">
                <div class="input-field second-wrap">
                    <input id="search" type="text" placeholder="Enter Product Name..."
                        (change)="onTextChange($event)" />
                </div>
                <div class="input-field third-wrap">
                    <button class="btn-search" type="button">
                        <svg class="svg-inline--fa fa-search fa-w-16" aria-hidden="true" data-prefix="fas"
                            data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path fill="currentColor"
                                d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z">
                            </path>
                        </svg>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="flex-tr">
        <div id="tableImageTD">
            <td></td>
        </div>
        <div id="tableProductNameTD">
            <td>Product Name</td>
        </div>
        <div id="tableCaloriesTD">
            <td>Calories</td>
        </div>
        <div id="tableProteinTD">
            <td>Protein</td>
        </div>
        <div id="tableCarbohydrateTD">
            <td>Carbohydrate</td>
        </div>
        <div id="tableFatTD">
            <td>Fat</td>
        </div>
    </div>
    <mat-accordion class="example-headers-align" *ngFor="let p of localProducts">
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <td> </td>
                </mat-panel-title>
                <mat-panel-description (click)="getProductID(p.productId)">
                    <td> {{p.productName| titlecase }} </td>
                    <td> {{p.calories | number:''}} </td>
                    <td> {{p.protein | number:''}} </td>
                    <td> {{p.carbohydrate | number:''}} </td>
                    <td> {{p.fat | number:''}} </td>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-form-field>
                <mat-label style="color:#35844b;"> Amount\ 100 gr </mat-label>
                <input matInput type="number" min="1" (change)="addProductToTotal($event)">
            </mat-form-field>
            <button mat-button style="color:#35844b" (click)="convertToProductsArray(p.productId)" (click)="addItemToHistory(p.productName, p.calories, p.protein, p.carbohydrate, p.fat)"> Add </button>
        </mat-expansion-panel>
    </mat-accordion>